/* ボタンのグリッドレイアウト設定 */
.button-grid {
  display: grid; /* グリッドレイアウト */
  grid-template-columns: repeat(4, 60px); /* 列の定義: 4列、各列の幅60px */
  gap: 8px; /* グリッド間の隙間 */
  justify-content:center;
}
.button {
  background-color: lightblue;
  border-radius:	8px;
  height:44px;
  font-size:12px;

}
.calculator-container {
  background-color: whitesmoke;
  border: 1px solid gray;
  margin-inline: auto;
  width:264px;
}